

@font-face {
  font-family:'Android' ;
  src: url('../fontes/idroid.otf') format('opentype');
  font-weight: normal;
}

:root{
  --fonte-android: 'Android'

}



body{
  background-color: #c0d08a;
  margin: auto; 
  text-align: justify

   
}
 


header{
 background-image: linear-gradient(to bottom , #37C877, #1A5C38);
  color: white;
 
}

header > div{
  text-align: center;
  font-size: small;
  
}

nav > a {
  color: white;
  text-decoration: none;
  margin-right:10px;
  font-weight: bolder;
}

h1{
  margin: 0px;
  padding-top: 15px;
 
}

div > h2{
  margin-top: 0px;

}
.textoandroid{
  color: #165934;
 background-image: linear-gradient(to right , #C7EBD7 ,white );
 padding-left: 10px;
 margin-left: 20px;
}

.principal{
  color: #165934;
  margin:0;
  padding-top: 15px;
  padding-left: 10px;
}


a:hover{
  color: rgb(156, 190, 59);
}

main{
  background-color: white;
  margin: auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 2px 2px  4px rgba(0, 0, 0, 0.596);
  max-width: 800px;
  min-width: 320px;
}

h3{
  background-color:#C7EBD7;
  
}

#textdif{
  background-color: #C7EBD7;
}
.imagen{
  width: 100%;
 
}
.video{
  background-color:#1A5C38 ;
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 20px;
   
}

#evolucao{
  width: 100%;
}

h4{
  background-color: #2FA866;
}

span{
  color:#57876D;
  font-weight: bold;
} 

#embaixo{
  color: white;
  padding: 10px;
   border-top-left-radius: 10px;
  border-top-right-radius: 10px;
   margin-bottom: 0px;
   margin-left: 15px;
   margin-right: 15px;
}
.informations{
  background-color:#C5EBD6 ;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom-left-radius: 15px ;
  border-bottom-right-radius:15px ;
  box-shadow: 1px 1px 4px black;
 
}

#versao{
  margin-top: 0px;
}

h4 , p{
  margin-top: 10px;
  padding: 10px;
}
h4 > p{
  margin-top: 0px;
}

.aprender{
  text-align:center;
 
}

footer{
  background-color: #1A5C38 ;
  
  
}
footer > p{
  margin-bottom: 0px;
  text-align: center;
  color: white ;
  font-weight: bolder;
  padding: 2px;
}

.rodape{
  color: #2FA866;
}
.titulo{
  font-family: 'Bebas Neue';
 text-align: center;
}

aside > ul{
  columns: 2;
  list-style-position: inside;
  list-style-type: 	'\2714\00A0\00A0';
}



